############
.DS_Store

############
logs/*.log
!logs/index.html

############
.project
.metadata
.settings
.buildpath
.idea/*

############
php_uploads/*
!php_uploads/index.html
!php_uploads/tmp/pdf/index.html

############
php_sessions/*
!php_sessions/index.html

############
*.bak

############
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

############
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

##########
/WebContent/coverage/*
!/WebContent/coverage/blank
!/WebContent/coverage/logs/logfile.xslt
!/WebContent/coverage/logs/template.html

############
tests/jmeter.log
